@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico:regular);


*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ol, ul, li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
}


body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #616161;
}

.wrapper {
    overflow-x: hidden;
    width: 100%;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}


.title {
    font-family: 'Pacifico';
    font-size: 100px;
    color: #FACE8D;
    padding: 50px 0;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
}

nav {
    padding: 10px 10px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.nav__link {
    color: black;
    padding: 20px 40px;
}

.nav__link:focus {
    padding: 20px 40px;
    background-color: #FACE8D;
    border-radius: 50px;
}

.main__top {
    font-size: 26px;
    color: whitesmoke;
    font-family: 'Pacifico';
    text-align: center;
    margin: 40px 0;
    text-decoration: underline #FACE8D;
}

.main {
    background-image: url(./img/front/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.main__text{
    text-align: center;
}

.main__uptitle {
    font-family: 'Dancing Script';
    font-size: 50px;
    color: #FACE8D;
    margin-bottom: 20px;
}

.main__title {
    font-family: 'Pacifico';
    font-size: 100px;
    color: white;
}

@media (max-width: 968px) {
    
    .main {
        padding: 40px;
    }

    .main__top {
        order: 3;
    }


    .header {
        order: 0;
    }

    nav {
        margin: 0;
    }
}



/* SECOND SECTION */
.about {
    width: 1200px;
    margin: auto;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 40px;
}

.about__item {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 0 40px;
}

.about__item:nth-child(even) .item__text{
    order: 2;
    text-align: right;
}

@media (max-width: 1200px) {
    .about__content {
        width: 100vw;
    }
    .about__item:nth-child(even) .item__text {
        order: 0;
        text-align: center;
    }
    .about__item {
        width: 70%;
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
}

@media (max-width: 968px) {
    .about__item {
        width: 60%;
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
}


.center__title {
    text-align: center;
}

.text__subtitle {
    color: #616161;
    font-size: 20px;
}

.about__img img {
    border-radius: 20px;
}

@media (max-width: 968px) {
    .text__title {
        font-size: 90px;
    }

    .text__subtitle {
        font-size: 18px;
    }

    .about__img img {
        width: 90%;
    }
}


.products__content {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.products__item h4{
    line-height: 2.0;
}










.footer__content {
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px 0;
}   


.footer__content h6 {
    font-size: 32px;
    font-family: 'Dancing Script';
    text-align: center;
    margin-bottom: 15px;
}

.footer__column {
    text-align: left;
}

.footer__column ul li {
    padding: 5px;
}